:root{
    --t1-main-bg:hsl(222, 26%, 31%);
    --t1-pad-bg:hsl(223, 31%, 20%);
    --t1-screen-bg:hsl(224, 36%, 15%);

    --t1-btn-primary:hsl(225, 21%, 49%);
    --t1-shadow-primary:hsl(224, 28%, 35%);
    --t1-btn-secondary:hsl(6, 63%, 50%);
    --t1-shadow-secondary:hsl(6, 70%, 34%);
    --t1-btn-tertiary:hsl(30, 25%, 89%);
    --t1-shadow-tertiary:hsl(28, 16%, 65%);

    --t1-txt:hsl(221, 14%, 31%);


    --t2-main-bg:hsl(0, 0%, 90%);
    --t2-pad-bg:hsl(0, 5%, 81%);
    --t2-screen-bg:hsl(0, 0%, 93%);

    --t2-btn-primary:hsl(185, 42%, 37%);
    --t2-shadow-primary:hsl(185, 58%, 25%);
    --t2-btn-secondary:hsl(25, 98%, 40%);
    --t2-shadow-secondary:hsl(25, 99%, 27%);
    --t2-btn-tertiary:hsl(45, 7%, 89%);
    --t2-shadow-tertiary:hsl(35, 11%, 61%);

    --t2-txt:hsl(60, 10%, 19%);


    --t3-main-bg:hsl(268, 75%, 9%);
    --t3-pad-bg:hsl(268, 71%, 12%);

    --t3-btn-primary:hsl(281, 89%, 26%);
    --t3-shadow-primary:hsl(285, 91%, 52%);
    --t3-btn-secondary:hsl(176, 100%, 44%);
    --t3-shadow-secondary:hsl(177, 92%, 70%);
    --t3-btn-tertiary:hsl(268, 47%, 21%);
    --t3-shadow-tertiary:hsl(290, 70%, 36%);

    --t3-txt-primary:hsl(52, 100%, 62%);
    --t3-txt-secondary:hsl(198, 20%, 13%);
}
html, main, .container{
    height: 85vh;
}

body{
    background-color: var(--t1-main-bg);
    font-size: 32px;
    font-family: 'league spartan', sans-serif;
    font-weight: 900;
    padding: 1.5rem 1rem;
    color: white;
    height: 100%;
}


h6{
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    align-self: flex-end;
}

p{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    align-self: flex-end;
    margin: 0px;
}

.outer p{
    font-size: 12px;
    font-weight: bold;
    margin-left: 80px;
}

.theme{
    width: 72px;
    display: grid;
}

input:checked{
    background-color: var(--t1-btn-secondary);
    color: var(--t1-btn-secondary);
}

.theme_count{
    background-color: var(--t1-pad-bg);
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    height: 28px;
    align-self: flex-end;
    border-radius: 48px;
}

label{
    position: relative;
    bottom: 20px;
    right: 10px;
}

div.outer{
    display: flex;
    justify-content: space-between;
}


div.theme{
    margin-right: 0px;
}

.result{
    background-color: var(--t1-screen-bg);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 12px;
    padding: 0.5em 1em;
    font-weight: bolder;
    font-size: 28px
}

.result h2{
    text-align: right;
    margin: 0px;
}

.keypad{
    background-color: var(--t1-pad-bg);
    margin: 20px 0px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 70%;
    gap: 17px 13px;
    border-radius: 12px;
}

.keypad button{
    border: none;
    color: var(--t1-txt);
    background-color: var(--t1-btn-tertiary);
    box-shadow: 0 4px var(--t1-shadow-tertiary);
    border-radius: 4px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'league spartan', sans-serif;
    padding-top: 8px;
}

#del{
    color: white;
    font-size: 18px;
    font-weight: 900;
    background-color: var(--t1-btn-primary);
    box-shadow: 0 4px var(--t1-shadow-primary);
}

#reset{
    color: white;
    font-size: 18px;
    font-weight: 900;
    background-color: var(--t1-btn-primary);
    box-shadow: 0 4px var(--t1-shadow-primary);
    grid-row: 5;
    grid-column: 1 / span 2;
}
#calc{
    color: white;
    background-color: var(--t1-btn-secondary);
    box-shadow: 0 4px var(--t1-shadow-secondary);
    grid-row: 5;
    grid-column: 3 / span 2;
}