:root{
 --soft_red: hsl(10, 79%, 65%);
 --cyan: hsl(186, 34%, 60%);
 --dark_brown: hsl(25, 47%, 15%);
 --medium_brown: hsl(28, 10%, 53%);
 --cream: hsl(27, 66%, 92%);
 --very_pale_orange: hsl(33, 100%, 98%);
}

body{
    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: 700;
    background-color: var(--cream);
}

.balance{
    background-color: var(--soft_red);
    color: white;
    margin: 4em 0.4em 1em;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.balance_text{
    height: 48px;
}

.balance p{
    margin: 0;
    font-weight: 400;
}

.balance h3{
    margin: 0;
    font-weight: 700;
}

.balance img{
    position: relative;
    float: right;
}

hr{
    border: solid var(--cream) 1px;
}


.spending{
    background-color: white;
    color: var(--medium_brown);
    border-radius: 12px;
    margin: 0 0.4em 1em;
    padding: 20px;
    margin-bottom: auto;
}


.spending h1, h5{
    color: var(--dark_brown);
}
/* Weird bug. 
.spending h1, h3, h5 also targets h3 in .balance */
.spending h3{
    color: var(--dark_brown);
}


.spending ul{
    list-style: none;
    padding: 0 0 36px 0;
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-top: 4rem;
}


.spending li{
    background-color: var(--soft_red);
    width: 2.4em;
    border-radius: 4px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}



.spending li .day{
    position: absolute;
    display: block;
    width: 2.4em;
    text-align: center;
    bottom: 0;
}


.spending li .amount{
    display: none;
    position: relative;
    background-color: var(--dark_brown);
    color: white;
    font-weight: 700;
    bottom: 2.5rem;
    border-radius: 4px;
    height: 22px;
    padding: 4px;
}


.spending_text{
    display: flex;
    justify-content: space-between;
}

.spending_left p{
    margin-bottom: 8px;
    font-weight: 400;
}

.spending_left h1{
    margin-top: 8px;
}

.spending_right{
    padding-top: 1.5rem
}

.spending_right p{
    margin-top: 0px;
    font-weight: 400;
}

.spending_right h5{
    margin-bottom: 0px;
    font-weight: 700;
    text-align: right;
}

@media screen and (max-width: 375px){
    
}

@media screen and (max-width: 1440px){
    
}