:root{
    --t1-main-bg:hsl(222, 26%, 31%);
    --t1-pad-bg:hsl(223, 31%, 20%);
    --t1-screen-bg:hsl(224, 36%, 15%);

    --t1-btn-primary:hsl(225, 21%, 49%);
    --t1-shadow-primary:hsl(224, 28%, 35%);
    --t1-btn-secondary:hsl(6, 63%, 50%);
    --t1-shadow-secondary:hsl(6, 70%, 34%);
    --t1-btn-tertiary:hsl(30, 25%, 89%);
    --t1-shadow-tertiary:hsl(28, 16%, 65%);

    --t1-txt:hsl(221, 14%, 31%);


    --t2-main-bg:hsl(0, 0%, 90%);
    --t2-pad-bg:hsl(0, 5%, 81%);
    --t2-screen-bg:hsl(0, 0%, 93%);

    --t2-btn-primary:hsl(185, 42%, 37%);
    --t2-shadow-primary:hsl(185, 58%, 25%);
    --t2-btn-secondary:hsl(25, 98%, 40%);
    --t2-shadow-secondary:hsl(25, 99%, 27%);
    --t2-btn-tertiary:hsl(45, 7%, 89%);
    --t2-shadow-tertiary:hsl(35, 11%, 61%);

    --t2-txt:hsl(60, 10%, 19%);


    --t3-main-bg:hsl(268, 75%, 9%);
    --t3-pad-bg:hsl(268, 71%, 12%);

    --t3-btn-primary:hsl(281, 89%, 26%);
    --t3-shadow-primary:hsl(285, 91%, 52%);
    --t3-btn-secondary:hsl(176, 100%, 44%);
    --t3-shadow-secondary:hsl(177, 92%, 70%);
    --t3-btn-tertiary:hsl(268, 47%, 21%);
    --t3-shadow-tertiary:hsl(290, 70%, 36%);

    --t3-txt-primary:hsl(52, 100%, 62%);
    --t3-txt-secondary:hsl(198, 20%, 13%);
}

html{
    min-width: 325px;
}

html, main, .container{
    height: 85vh;
    /* min-width: 325px; */
}


body{
    background-color: var(--t1-main-bg);
    font-size: 32px;
    font-family: 'league spartan', sans-serif;
    font-weight: 900;
    padding: 1.5rem 1rem;
    color: white;
    height: 100%;
    max-width: 30rem;
    min-width: 277px;
    margin: 8px auto;
}



h6{
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    margin-right: auto;
}

p{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    align-self: flex-end;
    margin: 0px;
}


.outer p{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-right: .5rem;
    padding-right: 32px;
    /* position: absolute; */
    /* right: 90px; */
    margin-right: 8px;
    /* display: flex; */
}

.theme{
    width: 72px;
    display: grid;
}

input:checked{
    background-color: var(--t1-btn-secondary);
    color: var(--t1-btn-secondary);
}

.theme_count{
    background-color: var(--t1-pad-bg);
    display: flex;
    position: relative;
    right: 10px;
    font-size: 12px;
    height: 28px;
    align-self: flex-end;
    border-radius: 48px;
}

.theme_count span{
    position: absolute;
    display: inline-block;
    top: -20px;
    right: 2px;
    width: 5em;
    margin: 0px 8px;
    text-align: justify;
    text-align-last: justify;
}



label{
    position: relative;
    bottom: 20px;
    right: 10px;
}

div.outer{
    display: flex;
    justify-content: flex-end;
}


div.theme{
    margin-right: 0px;
}

.result{
    background-color: var(--t1-screen-bg);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 12px;
    padding: 0.5em 1em;
    font-weight: bolder;
    font-size: 28px
}

.result h2{
    text-align: right;
    margin: 0px;
}




/* Theme 1 default colors */

.slider{
    -webkit-appearance: none;
    background-color: var(--t1-pad-bg);
    height: 28px;
    border-radius: 48px;
    margin: 0px 8px;
    width: 5em;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--t1-btn-secondary);
    border-radius: 48px;
    height: 16px;
    width: 16px;
    border-left: 8px;
    border: none;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    background: var(--t1-btn-secondary);
    border-radius: 48px;
    height: 16px;
    width: 16px;
    border: none;
}

.keypad{
    background-color: var(--t1-pad-bg);
    margin: 20px 0px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 70%;
    gap: 17px 13px;
    border-radius: 12px;
}

.keypad button{
    border: none;
    color: var(--t1-txt);
    background-color: var(--t1-btn-tertiary);
    box-shadow: 0 4px var(--t1-shadow-tertiary);
    border-radius: 4px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'league spartan', sans-serif;
    padding-top: 8px;
}

#del{
    color: white;
    font-size: 18px;
    font-weight: 900;
    background-color: var(--t1-btn-primary);
    box-shadow: 0 4px var(--t1-shadow-primary);
}

#reset{
    color: white;
    font-size: 18px;
    font-weight: 900;
    background-color: var(--t1-btn-primary);
    box-shadow: 0 4px var(--t1-shadow-primary);
    grid-row: 5;
    grid-column: 1 / span 2;
}
#calc{
    color: white;
    background-color: var(--t1-btn-secondary);
    box-shadow: 0 4px var(--t1-shadow-secondary);
    grid-row: 5;
    grid-column: 3 / span 2;
}


/* Theme 2 colors */

.theme_count.theme2{
    background-color: var(--t2-pad-bg);
}

.slider.theme2{
    background-color: var(--t2-pad-bg);
}

.slider.theme2::-webkit-slider-thumb {
    background: var(--t2-btn-secondary);
}

.slider.theme2::-moz-range-thumb {
    background: var(--t2-btn-secondary);
}


.theme2{
    background-color: var(--t2-main-bg);
    color: var(--t2-txt);
}

.result.theme2{
    background-color: var(--t2-screen-bg);
}


.keypad.theme2{
    background-color: var(--t2-pad-bg);
}

.keypad.theme2 button{
    color: var(--t2-txt);
    background-color: var(--t2-btn-tertiary);
    box-shadow: 0 4px var(--t2-shadow-tertiary);
}

.keypad.theme2 #del{
    color: white;
    background-color: var(--t2-btn-primary);
    box-shadow: 0 4px var(--t2-shadow-primary);
}

.keypad.theme2 #reset{
    color: white;
    background-color: var(--t2-btn-primary);
    box-shadow: 0 4px var(--t2-shadow-primary);
}

.keypad.theme2 #calc{
    color: white;
    background-color: var(--t2-btn-secondary);
    box-shadow: 0 4px var(--t2-shadow-secondary);
}


/* Theme 3 colors */

.theme_count.theme3{
    background-color: var(--t3-pad-bg);
}

.slider.theme3{
    background-color: var(--t3-pad-bg);
}

.slider.theme3::-webkit-slider-thumb {
    background: var(--t3-btn-secondary);
}

.slider.theme3::-moz-range-thumb {
    background: var(--t3-btn-secondary);
}

.theme3{
    background-color: var(--t3-main-bg);
    color: var(--t3-txt-primary);
}

.result.theme3{
    background-color: var(--t3-pad-bg);
}


.keypad.theme3{
    background-color: var(--t3-pad-bg);
}

.keypad.theme3 button{
    color: var(--t3-txt);
    background-color: var(--t3-btn-tertiary);
    box-shadow: 0 4px var(--t3-shadow-tertiary);
}

.keypad.theme3 #del{
    color: white;
    background-color: var(--t3-btn-primary);
    box-shadow: 0 4px var(--t3-shadow-primary);
}

.keypad.theme3 #reset{
    color: white;
    background-color: var(--t3-btn-primary);
    box-shadow: 0 4px var(--t3-shadow-primary);
}

.keypad.theme3 #calc{
    color: var(--t3-txt-secondary);
    background-color: var(--t3-btn-secondary);
    box-shadow: 0 4px var(--t3-shadow-secondary);
}
